@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "common/mixin";

/* COMMON styles */
@import "common/fonts";

@import "common/common";

/* forms */
@import "common/form";
@import "common/radio-custom";
/* end forms */

/* btn */
@import "common/btn";
/* end btn */

@import "blocks/nav-tabs-blue";
/* END COMMON */

/* header */
@import "blocks/header";
/* END header */

/* benefits */
@import "blocks/benefits";
/* END benefits */

/* tariff */
@import "blocks/tariff";
/* END tariff */

/* writing-texts */
@import "blocks/writing-texts";
/* END writing-texts */

/* clients */
@import "blocks/clients";
/* END clients */

/* recommendations */
@import "blocks/recommendations";
/* END recommendations */

/* about-me */
@import "blocks/about-me";
/* END about-me */

/* faq */
@import "blocks/faq";
/* END faq */

/* cooperation */
@import "blocks/cooperation";
/* END cooperation */

/* footer */
@import "blocks/footer";
/* END footer */

/* order-modal */
@import "blocks/order-modal";
/* END order-modal */

.fancybox-view {
  cursor: pointer;
  position: relative;
  display: inline-block;
  &::before, &::after {
    position: absolute;
    content: '';
    transition: all 0.3s ease;
  }
  &::before {
    width: 100%;
    height: 100%;
    background: rgba(181, 181, 181, 0.35);
    opacity: 0;
    z-index: 5;
  }
  &::after {
    width: 86px;
    height: 64px;
    bottom: 50%;
    left: 50%;
    margin: 0 0 -39px -41px;
    background: url(../img/icons/view.svg) no-repeat center;
    background-size: contain;
    opacity: 0;
    z-index: 6;
  }
  img {
    transition: all 0.3s ease;
    box-shadow: 0 0 25px rgba(195, 195, 195, 0.45);
  }
  &:not(:hover) {
  }
  &:hover {
    &::before, &::after {
      opacity: 1;
    }
    img {
      box-shadow: 0 0 0 rgba(195, 195, 195, 0.45);
    }
  }
}

.modal {
  text-align: center;
  white-space: nowrap;
}

.modal:after {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  content: '';
}

.modal-dialog {
  width: auto;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  white-space: normal;
}
