.tariff {
  padding-top: 90px;
  margin-bottom: 50px;
  background: url(../img/bg-for-business.png) no-repeat top center;

  img {
    box-shadow: 0 0 25px 0 rgba(195, 195, 195, 0.45);
  }

  .nav-tabs {
    height: 55px;
    padding-left: 0;
    margin-bottom: 50px;
    background-color: #ffffff;
    list-style: none;
    font-size: 17px;
    display: flex;
    li {
      padding-top: 18px;
      text-align: center;
      border: 1px solid transparent;
      border-right-color: #EBEEF0;
      letter-spacing: 1.13px;
      flex-basis: calc(100% / 3);
      transition: all 0.3s ease;
      @include RobotoMedium;
      &::before {
        width: 17px;
        height: 17px;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        display: inline-block;
        vertical-align: top;
      }
      &:not(.active) {
        border-top-color: #EBEEF0;
        border-bottom-color: #EBEEF0;
        cursor: pointer;
        &:first-child {
          border-left-color: #EBEEF0;
          &::before {
            background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Eicon%3C%2Ftitle%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23585858%22%20d%3D%22M.5%208H4.51v9H.5z%22%2F%3E%3Cpath%20stroke%3D%22%23585858%22%20d%3D%22M7.012%204.5h3.007v12H7.01z%22%2F%3E%3Cpath%20stroke%3D%22%23585858%22%20d%3D%22M13.022.5h3.007v16H13.02z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
          }
        }
        &:nth-child(2)::before {
          background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Ctitle%3Eicon%3C%2Ftitle%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M6.01%204h4.008v13H6.01z%22%2F%3E%3C%2Fdefs%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23595959%22%20d%3D%22M.36%208H4.37v9H.36z%22%2F%3E%3Cg%20transform%3D%22translate(.36)%22%3E%3Cuse%20fill%3D%22%23595959%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Cpath%20stroke%3D%22%23595959%22%20stroke-width%3D%221%22%20d%3D%22M6.51%204.5H9.52v12H6.51z%22%2F%3E%3C%2Fg%3E%3Cpath%20stroke%3D%22%23595959%22%20d%3D%22M12.88.5h3.008v16H12.88z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
        }
        &:last-child::before {
          background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Eicon%3C%2Ftitle%3E%3Cg%20fill%3D%22%23595959%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M.95%208H4.96v9H.95z%22%2F%3E%3Cpath%20d%3D%22M6.962%204h4.007v13H6.96z%22%2F%3E%3Cpath%20d%3D%22M12.972%200h4.007v17H12.97z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
        }
        &:hover {
          background-color: #2FC1FF;
          border-top-color: #2FC1FF;
          border-bottom-color: #2FC1FF;
        }
      }
    }
    li:hover, .active {
      color: #ffffff;
      &:first-child::before {
        background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Eicon%3C%2Ftitle%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M.5%208H4.51v9H.5z%22%2F%3E%3Cpath%20stroke%3D%22%23FFF%22%20d%3D%22M7.012%204.5h3.007v12H7.01z%22%2F%3E%3Cpath%20stroke%3D%22%23FFF%22%20d%3D%22M13.022.5h3.007v16H13.02z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      }
      &:nth-child(2)::before {
        background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Ctitle%3Eicon%3C%2Ftitle%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M6.01%204h4.008v13H6.01z%22%2F%3E%3C%2Fdefs%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M.36%208H4.37v9H.36z%22%2F%3E%3Cg%20transform%3D%22translate(.36)%22%3E%3Cuse%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Cpath%20stroke%3D%22%23FFF%22%20stroke-width%3D%221%22%20d%3D%22M6.51%204.5H9.52v12H6.51z%22%2F%3E%3C%2Fg%3E%3Cpath%20stroke%3D%22%23FFF%22%20d%3D%22M12.88.5h3.008v16H12.88z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      }
      &:last-child::before {
        background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Eicon%3C%2Ftitle%3E%3Cg%20fill%3D%22%23FFF%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M.95%208H4.96v9H.95z%22%2F%3E%3Cpath%20d%3D%22M6.962%204h4.007v13H6.96z%22%2F%3E%3Cpath%20d%3D%22M12.972%200h4.007v17H12.97z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      }
    }
    .active {
      background-image: linear-gradient(45deg, #4580E0 0%, #2FC1FF 100%);
    }
  }

  .tab-content {
    padding-left: 25px;
    padding-bottom: 95px;
    box-shadow: inset 15px -15px 0 rgba(69, 129, 224, .04);
    .list-blue {
      max-width: 330px;
    }
  }

  .tab-pane {
    padding-top: 20px;
  }
}

.tariff-title {
  position: relative;
}

.tariff-order {
  height: 60px;
  margin-top: -35px;
  text-align: center;
  .btn-yellow {
    padding: 0 0 0 40px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    span {
      width: 110px;
      height: 60px;
      margin-left: 40px;
      display: inline-flex;
      vertical-align: middle;
      align-items: center;
      justify-content: center;
      font-size: 19px;
      @include RobotoMedium;
      background-color: #E1A800;
    }
  }
}

#for-business {
  margin-bottom: 115px;
  .info-description {
    clear: both;
  }
}

.for-business-link {
  color: #999999;
  border-bottom: 1px solid;
  letter-spacing: 1.1px;
  line-height: 1;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 0;
  @include RobotoBold;
}

.info-description {
  max-width: 480px;
  margin-top: 40px;
  margin-left: 2px;
  padding-left: 15px;
  border-left: 3px solid #999;
  p {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
